<h3>UI Grid</h3>
<div class="container-fluid">
    <h4 class=" clearfix">
      <div class="pull-left">说明文字</div>
      <div class="pull-right">
        <div class="search" style="right:200px;">
          <div class="input-group">
            <input type="text" ng-model="name" class="form-control"  placeholder="请输入费用名称">
            <div class="input-group-addon" ng-click="onSelectPage(1)"><em class="fa fa-search"></em>
            </div>
        </div>
        </div>
      </div>
   </h4>
    <div kd-loading="loading" kd-loading-options="{text: '加载中...'}">
        <div elheightresize ui-grid="gridOptions" ui-grid-pagination ui-grid-auto-resize ui-grid-resize-columns class="table-uigrid"></div>
    </div>
</div>
