<h3>Tree
   <small>angular-ivh-treeview.</small>
</h3>
<div class="container-fluid">
<h4>API 请参考：https://github.com/iVantage/angular-ivh-treeview</h4>
    <code>{{bag}}</code>
    <div class="row">
        <div class="col-lg-6 col-sm-6">
            <div class="well wd-wide">
                <div ivh-treeview="bag" ivh-treeview-filter="bagSearch" ivh-treeview-expand-to-depth="-1">
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-3 ">
            <div class="form-group">
                <label> 搜索</label>
                <input type="text" ng-model="bagSearch" class="form-control">
            </div>
        </div>
    </div>
</div>
</div>
